
@{
	ViewBag.Title = "Error";
	ViewBag.CurrentUrl = "~/Error/Error";
}
<div class="text-center">
	<h1 >Error</h1>
	<h2 class="text-red">We're sorry, but something went wrong</h2>
	<img src="~/9276414.jpg" width="500px" style="margin-top:100px" />
</div>
